<section class="content-container">
  <a href="/learn" class="return">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left">
      <line x1="19" y1="12" x2="5" y2="12"></line>
      <polyline points="12 19 5 12 12 5"></polyline>
    </svg>
    Back to all modules
  </a>

  <div class="module-heading">
    <!-- <div class="heading-number">Module 1:</div> -->
    <div class="module-name gradient-text">Hello, World!</div>
    <p>This module is all about how to get started writing JavaScript and running your code. It's recommended that you
      have at least a little bit of experience with using HTML to follow this course.</p>
  </div>

  <hr>

  <h2>The Console</h2>

  <p>
    JavaScript is the language of the web, and as a result every web browser (for example Chrome, Edge or FireFox) has
    the ability to run JavaScript code. Browsers have a place called the console, where you can run code and ouput text
    to the screen. To open the console, press <code>Ctrl</code> + <code>Shift</code> + <code>J</code> if you're on
    Chrome.
  </p>

  <p>
    To output data to the console, you can type <code>console.log()</code>. Anything inside of the brackets will be
    printed out to the console for you to see. To try it out, type <code>console.log("Hello, World!")</code>, and see
    what happens.
  </p>

  <p>
    As you can see, the console logs the text <code>Hello, World!</code>.
  </p>

  <hr>

  <h2>JavaScript in an HTML File</h2>

  <p>
    The console works great for running single lines of code, but to write longer programs it becomes much more
    difficult. To run JavaScript code from a file, we first need to create a web page to run our code on. To do this,
    create an HTML file called <code>index.html</code>. To write JavaScript in the HTML file, we need to put all of our
    code inside <code>&ltscript></code> tags like so:
  </p>

  <pre>
&ltscript>
  console.log("Hello, World!")
&lt/script></pre>

  <p>
    To run this code like before, just open the HTML file by double clicking it to open it in your browser. Going into
    the console like before should now show the <code>Hello, World!</code> message.
  </p>

  <hr>

  <h2>Comments</h2>

  <p>
    To prevent a line of code from running at all, add <code>//</code> to the start of the line. This 'comments out'
    that line, and the browser won't run it.
  </p>

  <div class="question fill" id="q1">
    <div>Fill in the blank(s) so that only the text <code>Hello, World!</code> will be output to the console.</div>
    <pre>
<input type="text" placeholder="" style="width: 1.5rem;">console.log("Hello, World!")
<input type="text" placeholder="//" style="width: 1.5rem;">console.log("Goodbye, World!")</pre>
    <button onclick="checkBlanks(1, 1)">Check Answer</button>
  </div>

  <a href="/learn" class="return">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left">
      <line x1="19" y1="12" x2="5" y2="12"></line>
      <polyline points="12 19 5 12 12 5"></polyline>
    </svg>
    Back to all modules
  </a>
</section>
