<head>
  <link rel="stylesheet" href="css/course.css">
  <script defer src="js/modules.js"></script>
</head>

<div id="progress">{{ data.progress }}</div>

<div id="modules-container">
  <a href="/learn/1" class="module">
    <div class="number">1</div>
    <div class="vl"></div>
    <div class="information">
      <div class="module-heading">
        <div class="module-title">Hello, World!</div>
        <div class="module-info">How to get started with JavaScript</div>
      </div>
      <div class="progress-container">
        <div class="progress-background">
          <div class="progress-bar"></div>
        </div>
        <span class="progress">0%</span>
      </div>
    </div>
  </a>

  <a href="/learn/2" class="module">
    <div class="number">2</div>
    <div class="vl"></div>
    <div class="information">
      <div class="module-heading">
        <div class="module-title">Calculations</div>
        <div class="module-info">Perform calculations with code</div>
      </div>
      <div class="progress-container">
        <div class="progress-background">
          <div class="progress-bar"></div>
        </div>
        <span class="progress">0%</span>
      </div>
    </div>
  </a>

  <a href="/learn/3" class="module">
    <div class="number">3</div>
    <div class="vl"></div>
    <div class="information">
      <div class="module-heading">
        <div class="module-title">Variables and Data Types</div>
        <div class="module-info">Store and manipulate information</div>
      </div>
      <div class="progress-container">
        <div class="progress-background">
          <div class="progress-bar"></div>
        </div>
        <span class="progress">0%</span>
      </div>
    </div>
  </a>

  <a href="/learn/4" class="module">
    <div class="number">4</div>
    <div class="vl"></div>
    <div class="information">
      <div class="module-heading">
        <div class="module-title">Comparision Operators</div>
        <div class="module-info">Compare different values</div>
      </div>
      <div class="progress-container">
        <div class="progress-background">
          <div class="progress-bar"></div>
        </div>
        <span class="progress">0%</span>
      </div>
    </div>
  </a>

  <a href="/learn/5" class="module">
    <div class="number">5</div>
    <div class="vl"></div>
    <div class="information">
      <div class="module-heading">
        <div class="module-title">Conditionals</div>
        <div class="module-info">Run code based on different conditions</div>
      </div>
      <div class="progress-container">
        <div class="progress-background">
          <div class="progress-bar"></div>
        </div>
        <span class="progress">0%</span>
      </div>
    </div>
  </a>

  <a href="/learn/6" class="module">
    <div class="number">6</div>
    <div class="vl"></div>
    <div class="information">
      <div class="module-heading">
        <div class="module-title">Functions</div>
        <div class="module-info">Split code up into reusable parts</div>
      </div>
      <div class="progress-container">
        <div class="progress-background">
          <div class="progress-bar"></div>
        </div>
        <span class="progress">0%</span>
      </div>
    </div>
  </a>
</div>
