
<h1 class="page-title">Sign Up</h1>

{{ message.error_msg }}

<form action="/signup" method="post">
<div>
  <label for="username">Username</label>
  <input type="text" name="username" id="username" value={{ data.username }}>
</div>
<div>
  <label for="password">Password</label>
  <input type="password" name="password" id="password" value={{ data.password }}>
</div>
<button type="submit">Sign Up</button>
</form>

<div class="form-redirect">Already have an account? <a href="/login">Login</a></div>

{{ data.msg }}
