<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Learn JS</title>
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
  </head>
  <body>
    <header>
      <a href="/" class="gradient-text" id="header-logo">Learn JavaScript</a>
      <nav>
        <a href="/learn">Learn</a>
        <a href="/login">Login</a>
        <a id="sign-up-button" href="/signup">Sign Up</a>
      </nav>
    </header>
    {{{ body }}}
  </body>
</html>
